@import '../../Styles/globalStyles.css';

/* @media (max-width: 768px) { */
    .mobileMenuBg {
        background-color: var(--darker-purple-theme-color);
    }
    .whiteTextColor {
        color: var(--background-color);
        &:focus {
            color: var(--button-link-color);
        }
    }
    .textColor {
        color: var(--text-color);
    }

    .hr {
        height: 1px;
        border: none;
        background-color: var(--text-color);
        margin: 10px 0;
        opacity: 0.2;
    }
/* } */