:root {
	--title-color: #34313d; /* Black */
	--button-link-color: #2bd0d0; /* Blue-Green */
	--button-hover-link-color: #9AE3E3; /* Blue-Green */
	--background-color: #eff1f7; /* Light Gray */
	--text-color: #9e9aa8; /* Medium-Light Gray */
	--border-color: #e0e0e0; /* Light Border */
	--error-color: #f46363; /* Red */
	--darker-purple-theme-color: #3a3054; /* Green */
	--lighter-purple-theme-color: #4b3f6b; /* Yellow */
}

.textColor {
	color: var(--text-color);
}
.titleColor {
	color: var(--title-color);
}
.buttonLinkColor {
	color: var(--button-link-color);
}
.backgroundColor {
	background-color: var(--background-color);
}
.borderColor {
	border-color: var(--border-color);
}
.errorColor {
	color: var(--error-color);
}
.darker-PurpleThemeColor {
	color: var(--darker-purple-theme-color);
}
.lighterPurpleThemeColor {
	color: var(--lighter-purple-theme-color);
}

.buttonColors {
	background-color: var(--button-link-color);
	color: var(--background-color);
	cursor: pointer;
  
	&:hover {
	  background-color: var(--button-hover-link-color);
	  transition: .2s ease-in-out;
	}
  }