@import '../../Styles/variables.css';

.textColor {
	color: var(--text-color);
	/* color: red; */
}

/* .buttonColors {
  background-color: var(--button-link-color);
  color: var(--background-color);
  cursor: pointer;

  &:hover {
    background-color: var(--darker-purple-theme-color);
    transition: .2s ease-in-out;
  }
} */

.links {
	color: var(--text-color);
	cursor: pointer;

	&:hover {
		color: var(--button-link-color);
		transition: 0.2s ease-in-out;
	}
}
