@import '../../Styles/variables.css';

.shortenBgImg {    
    background-color: var(--darker-purple-theme-color);
    background-image: url('../../images/bg-shorten-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.shortenContainer {
    max-height: 70vh; /* Limit the height */
    overflow-y: auto; /* Add scroll if content overflows */
}

